.banner {
  /* height: 800px; */
  height: 743px;
  /* background-image: url("/image/banner__bg.png"); */
  /* background-image: url("/image/banner-light-bg.png"); */
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  position: relative;
  /* margin-bottom: 40px; */
  margin-bottom: 73px;
}

.banner__wrapper {
  display: flex;
  position: relative;
}

.banner__info {
  padding-top: 60px;
  max-width: 398px;
}

.banner__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #0587ff;
  margin-bottom: 15px;
}

.banner__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: -0.03em;
  /* color: #fff; */
  margin-bottom: 30px;
}

.banner__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* color: #fff; */
  margin-bottom: 30px;
}

.banner__buttons {
  display: flex;
  gap: 20px;
}

.banner__button {
  padding: 7px 21px 7px 21px;
  border-radius: 40px;
  /* font-size: 16px; */
  font-size: 15px;
  font-weight: 600;
  line-height: 158.7%;
  letter-spacing: -3%;
  border: 0;
}

.banner__button--manager {
  background: #0587ff;
  color: #fff;
}

.banner__images {
  position: absolute;
  top: 0;
  /* right: 20%; */
  /* right: 16%; */
  right: 7%;
}

.banner__ipad {
  background-image: url(../image/iPad.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 887px;
  height: 662px;
  /* width: 781px;
  height: 662px; */
  display: block;
  position: relative;
  /* background-image: url(../image/iPad.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 755px;
  height: 542px;
  position: relative; */

  /* width: 752px;
  height: 542px; */
}

.play {
  position: absolute;
  top: 35%;
  left: 45%;
}

.play--phone {
  position: absolute;
  top: 35%;
  left: 45%;
}

.banner__phone {
  background-image: url(../image/Phone.png);
  width: 325px;
  height: 491px;
  position: absolute;
  top: 21%;
  background-size: contain;
  left: 80%;
  background-repeat: no-repeat;
  /* position: relative; */

  /* background-image: url("../image/Phone.png");
  width: 224px;
  height: 458px; */
  /* position: absolute; */
  /* top: 23%;
  left: 60%; */
  /* top: 18%;
  left: 78%; */
}

.banner__mouse {
  position: absolute;
  left: 50%;
  bottom: 11px;
  transform: translateX(-50%);
}
