.banner {
  /* height: 800px; */
  height: 743px;
  background-image: url("/image/banner__bg.png");
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  position: relative;
  /* margin-bottom: 40px; */
  margin-bottom: 73px;
}

.banner__wrapper {
  display: flex;
}

.banner__info {
  padding-top: 60px;
  max-width: 398px;
}

.banner__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #0587ff;
  margin-bottom: 15px;
}

.banner__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: -0.03em;
  /* color: #fff; */
  margin-bottom: 30px;
}

.banner__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* color: #fff; */
  margin-bottom: 30px;
}

.banner__buttons {
  display: flex;
  gap: 20px;
}

.banner__button {
  padding: 7px 21px 7px 21px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 158.7%;
  letter-spacing: -3%;
  border: 0;
}

.banner__images {
}

.banner__ipad {
  position: relative;
}

.banner__phone {
  position: absolute;
  right: 0;
  top: 200px;
}

.banner__mouse {
  position: absolute;
  left: 50%;
  bottom: 11px;
  transform: translateX(-50%);
}
