.breadcrumb__wrap {
}
.breadcrumb__icon {
}
.breadcrumb {
}
.breadcrumb__item {
}
.breadcrumb__link {
}

.case {
  padding: 30px 0;
}

.case__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.case__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
}

.button {
}
.case__button {
}
.card__wrapper {
}

.case__button--card {
  padding: 5px 5px 5px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 159%;
  letter-spacing: -0.03em;
  color: #fff;
}

/* .case__icon {
  width: 30px;
  height: 30px;
} */

.card__image {
  height: 450px;
}

.card__tabs {
  margin-bottom: 30px;
  display: flex;
  gap: 40px;
}

.card__tab {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 20px;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.card__row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: white;
  padding: 25px 0;
}

.card__row:last-child {
  padding: 25px 0 0 0;
}

.tech__list {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card__row:not(:last-child) {
  border-bottom: 1px solid #0587ff;
}

.row {
}
.row__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0587ff;
}

.row__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #fff;
}

.team {
  /* margin-bottom: 80px; */
  padding: 30px 0;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #0587ff;
  margin-bottom: 5px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 40px;
}

.team-member {
  background: #e9efff;
  border-radius: 10px;
  width: 302px;
  height: 370px;
  padding: 19px 46px 23px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.team-member__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.03em;
  color: #0587ff;
}

.team-member__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
/* .team-member__image {
  display: flex;
  gap: 10px;
} */
.team-member__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.03em;
  color: #151515;
}
.team-member__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.03em;
  color: #151515;
}
.team-member__icons {
}
