.case {
  padding: 30px 0;
}

.case__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.case__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  /* color: #fff; */
}

.case__button {
}
.card__wrapper {
}

.case__button--card {
  padding: 5px 5px 5px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 159%;
  letter-spacing: -0.03em;
  /* color: #fff; */
}

/* .case__icon {
  width: 30px;
  height: 30px;
} */

.card__image {
  height: 450px;
}

.card__tabs {
  margin-bottom: 30px;
  display: flex;
  gap: 40px;
}

.card__tab {
  /* border: 1px solid #fff; */
  border-radius: 10px;
  padding: 10px 20px;
  /* background: transparent; */
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  /* color: rgba(255, 255, 255, 0.7); */
}

.card__row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* color: white; */
  padding: 25px 0;
}

.card__row:last-child {
  padding: 25px 0 0 0;
}

.tech__list {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card__row:not(:last-child) {
  border-bottom: 1px solid #0587ff;
}

.row {
}
.row__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0587ff;
}

.row__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  /* color: #fff; */
}

.team {
  padding: 30px 0;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #0587ff;
  margin-bottom: 5px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  /* color: #fff; */
  margin-bottom: 40px;
}

/* .team__members {
  position: relative;
  width: 100%;
}

.team__slide {
  transition: all 0.5s ease;
  max-width: 302px;
  height: 370px;
  transition: all 0.5s ease;
  background: none;
  box-sizing: border-box;
  margin: 0 0;
}
 */

.team__members {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

.team__members-wrapper .swiper-slide-active {
  color: #fff;
  background: none;
  transform: none;
  max-width: 302px;
  height: 370px;
  box-sizing: border-box;
  justify-content: center;
}

.team__members-wrapper {
  display: flex;
}

.team__slide {
  flex: 0 0 auto;
  width: calc((100% - 3 * 20px) / 4);
  margin-right: 20px;
}

.team__slide:last-child {
  margin-right: 0;
}

.button-next,
.button-before {
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%);
  z-index: 10; */
  top: -81px;
  cursor: pointer;
  z-index: 100;
  display: flex;
}

.button-next {
  right: 0;
}

.button-before {
  right: 55px;
}

/* .swiper-wrapper {
  display: flex;
} */

/* .swiper-slide {
  flex: 0 0 auto;
  width: calc((100% - 3 * 20px) / 4);
  margin-right: 20px;
} */

/* .swiper-slide:last-child {
  margin-right: 0;
} */

.team-member {
  background: #e9efff;
  border-radius: 10px;
  /* width: 302px; */
  /* height: 370px; */
  padding: 19px 46px 23px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.team-member__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.03em;
  color: #0587ff;
}

.team-member__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
/* .team-member__image {
  display: flex;
  gap: 10px;
} */
.team-member__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.03em;
  color: #151515;
}
.team-member__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.03em;
  color: #151515;
}
.team-member__icons {
}