/* .breadcrumb {
  padding: 10px 16px;
  list-style: none;
  color: white;
  display: flex;
} */

.breadcrumb__wrap {
  display: flex;
  align-items: flex-start;
}
.breadcrumb__icon {
  margin-right: 10px;
}
.breadcrumb {
  color: white;
  display: flex;

  line-height: 20px;
  margin-bottom: 30px;
}

/* li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
} */
.breadcrumb__item + .breadcrumb__item::before {
  padding: 8px;
  color: rgba(255, 255, 255, 0.6);
  content: "/\00a0";
}
.breadcrumb__link {
}

/* Отображение элементов списка бок о бок */
/* ul.breadcrumb li {
  display: inline;
  font-size: 18px;
} */

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
/* ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
} */

/* Добавить цвет для всех ссылок внутри списка */
/* ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
} */

/* Добавить цвет на наведении курсора мыши */
/* ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}  */

.cases__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cases__title {
  margin-bottom: 0;
}

.cases__text {
  max-width: 733px;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: right;
  color: #fff;
}

.filtr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filtr__btn {
  background: #e9efff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: rgba(21, 21, 21, 0.7);
}

.selects {
  margin-bottom: 30px;
}

/* .cases__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
