.clients {
  padding: 30px 0;
}

.clients__subtitle {
  color: rgb(5, 135, 255);
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -3%;
  text-align: left;
  text-transform: uppercase;
}

.clients__title {
  /* color: rgb(255, 255, 255); */
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 40px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  border-radius: 22px;
  width: 190px;
  height: 100px;
  background: #e9efff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__logo {
}
