.clients {
  margin-bottom: 80px;
}
.container {
}
.clients__subtitle {
}
.clients__title {
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__item {
  border-radius: 22px;
  width: 190px;
  height: 100px;
  background: #e9efff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__logo {
}
