.footer {
  padding: 31px 0;
  /* background-image: linear-gradient(
    0deg,
    rgba(3, 81, 153, 0.3) 0%,
    rgba(0, 6, 35, 0.3) 100%
  ); */
  background-image: linear-gradient(
    0deg,
    rgba(3, 81, 153, 0.3) 0%,
    rgba(0, 6, 35, 0) 100%
  );
  /* opacity: 0.4; */
}

body.light-mode .footer {
  /* background: linear-gradient(
    0deg,
    rgba(155, 194, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 100%
  ); */
  background-image: linear-gradient(
    0deg,
    rgba(155, 194, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.footer__container {
  padding: 31px 30px 31px 30px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid rgba(5, 135, 255, 0.5);
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.footer__logo {
  margin-right: 47px;
}

.footer__icon {
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-right: 114px;
}

.nav__item {
}

.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  /* color: #fff; */
}

.footer__button {
  border-radius: 40px;
  padding: 9px 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.587;
  letter-spacing: -0.03em;
  text-align: right;
  color: #fff;
  background: #0587ff;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.04em;
  /* color: #fff; */
}

.footer__sla {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  /* color: #fff; */
  text-align: center;
}
