@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 700;
}

html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* margin: 0;
    padding: 0; */
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: #151515;
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  background-color: #000623;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.button {
  /* border-radius: 10px; */
  border: 0;
  cursor: pointer;
  /* padding: 9px 29px 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    transition: background 0.3s ease-in; */
}

.container {
  max-width: 1330px;
  padding: 0 30px;
  margin: 0 auto;
}

.section__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #0587ff;
  margin-bottom: 5px;
}
