.header {
  /* padding: 30px 0; */
  padding: 25px 0 35px 0;
}

.header__background {
  position: absolute;
  /* top: -99px; */
  width: 100%;
  height: 200px;
  z-index: -1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
}

.header__logo {
  width: 256px;
  height: 52px;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__switch {
  position: relative;
  border-radius: 40px;
  background: rgb(255, 255, 255);
  width: 84.81px;
  height: 43px;
  border: none;
}

.header__switch::before {
  position: absolute;
  /* content: ""; */
  content: url("../image/day-night.svg");
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0587ff;
  border-radius: 50%;
  /* top: 13%;
  left: 54%;
  transform: translateX(-90%); */
  top: 50%;
  left: 44px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.header__switch.active::before {
  left: calc(100% - 33px - 44px);
}

.header__button-client {
  border-radius: 40px;
  background: rgb(255, 255, 255);
  /* padding: 7px 18px; */
  padding: 8px 13px;
  color: rgb(0, 6, 35);
  font-size: 18px;
  font-weight: 500;
  line-height: 158.7%;
  letter-spacing: -3%;
  text-align: right;
  border: 0;
  cursor: pointer;
}

body.light-mode .header__button-client {
  background-color: #0587ff;
  color: #fff;
}

.header__burger {
  border-radius: 50px;
  background: rgb(255, 255, 255);
  width: 43px;
  height: 43px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

body.light-mode .header__burger {
  background-color: #0587ff;
  color: #fff;
}
