.background-image-second {
  position: absolute;
  right: 0;
  top: 750px;
  z-index: -1;
}

.background-image-third {
  position: absolute;
  top: 1507px;
  left: 17%;
  z-index: -1;
}

.background-image-fourth {
  position: absolute;
  top: 2900px;
  z-index: -1;
}

.background-image-five {
  position: absolute;
  right: 0;
  top: 3400px;
  z-index: -1;
}

.background-image-six {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
