.background-image-numbers {
  position: absolute;
  top: 550px;
  z-index: -1;
}

.background-image-second {
  position: absolute;
  right: 0;
  top: 750px;
  z-index: -1;
}

.background-image-third {
  position: absolute;
  top: 1507px;
  left: 17%;
  z-index: -1;
}

.background-image-fourth {
  position: absolute;
  top: 2900px;
  z-index: -1;
}

.background-image-five {
  position: absolute;
  right: 0;
  top: 3400px;
  z-index: -1;
}

.background-image-stages {
  position: absolute;
  left: 20px;
  top: 4331px;
  z-index: -1;
}

.background-image-six {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.background-light-first {
  display: none;
}

body.light-mode .background-light-first {
  display: inline;
  position: absolute;
  /* right: 0; */
  left: 0;
  top: 0;
  z-index: -1;
}
