.services {
  margin-bottom: 80px;
}

.services__wrapper {
}
.section__title {
}
.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 40px;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 31.5px;
  row-gap: 20px;
  margin-bottom: 40px;
}
.services__item {
  border-radius: 10px;
  padding: 10px 20px;
  background: #e9efff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -3%;
}
.services__info-wrapper {
  display: flex;
  gap: 20px;
}
.services__info {
}
.info {
  padding: 30px 30px 27px 30px;
  border-radius: 10px;
  width: 410px;
  height: 410px;
  background: #e9efff;
}

.info__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 83%;
  letter-spacing: -0.03em;
  color: #151515;
  margin-bottom: 25px;
}
.info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: -0.03em;
  color: rgba(21, 21, 21, 0.8);
  margin-bottom: 90px;
}
.services__image {
  border-radius: 10px;
}
