.work {
  padding: 30px 0;
}

.work__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #0587ff;
  margin-bottom: 30px;
  position: relative;
}

.slider__wrapper {
  position: relative;
  /* width: 100%;
  box-sizing: border-box; */
}

.slide__image {
  width: 115px;
  height: 115px;
}

.slide__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 98%;
  color: #0587ff;
}

.slide__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #151515;
}

.slide__button {
  border-radius: 40px;
  background: rgb(5, 135, 255);
  padding: 7px 20px 7px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 158.7%;
  letter-spacing: -3%;
  color: rgb(255, 255, 255);
  border: none;
}

.slide {
  border-radius: 10px;
  padding: 28px 20px 32px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 360px;
  height: 410px;
}

.slide__text--time {
  margin-bottom: 32px;
}

.work__slider {
  width: 100%;
  height: 100%;
  height: 470px;
}

.swiper-wrapper {
  align-items: center;
  margin: 0;
}

.slide {
  transition: all 0.5s ease;
  background: #e9efff;
  max-width: 390px;
  height: 410px;
  margin-right: 40px;
  /* flex-shrink: unset; */
  box-sizing: border-box;
  margin-right: 0px;
  margin: 0 15px;
}

.button-left,
.button-right {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -81px;
  cursor: pointer;
  z-index: 10;
  display: flex;
}

.button-left {
  right: 55px;
}

.button-right {
  right: 0;
}

.swiper-slide-active {
  color: #fff;
  background: #0587ff;
  transform: scale(1.3);
  max-width: 410px;
  height: 470px;
  box-sizing: border-box;
  justify-content: center;
}

.swiper-slide-active .slide__title {
  color: #fff;
}

.swiper-slide-active .slide__text {
  color: #fff;
}

.swiper-slide-active .slide__button {
  background-color: #fff;
  color: #0587ff;
}
